<svg height="568" width="1024">
    <g transform="translate(0,0)">
        <image width="1024" height="568" xlink:href="assets/img/map.png" class="map"></image>
        {{#each countries}}
            {{translation}}
            <g class="country-marker" {{bind-attr transform=translation}}>
                <title>{{camel-case country}}</title>
                <circle cx="0" cy="0" r="4" class="control"/>
                <text dy="1.5em" style="text-anchor: middle;">{{camel-case country}}</text>
            </g>
        {{/each}}
    </g>
</svg>
{{#each activeGroups}}
    {{migration-path currentYear=controller.currentYear countries=controller.countries group=this timeline=controller.timeline}}
{{/each}}
{{year-slider currentYear=controller.currentYear timeline=controller.timeline}}